<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^SoftUniAdmin/$ /SoftUni/admin?&%{QUERY_STRING}
  RewriteCond %{REQUEST_URI} !^(/[a-zA-Z0-9_-]+)?/content/.*$
  RewriteRule ^ index.php
</IfModule>

